<div class="header-content">
    <div class="left">
        <img
            (click)="redirect('home')"
            nbTooltip="Home"
            i18n-nbTooltip="@@core.header.home"
            nbTooltipPlacement="bottom"
            src="favicon.ico"
            alt="Logo"
            class="logo"
        />

        <nb-search
            [nbSpinner]="usersStore.redirectLoading() || usersStore.loading()"
            nbTooltip="Search"
            i18n-nbTooltip="@@core.header.search"
            nbTooltipPlacement="bottom"
            type="rotate-layout"
        ></nb-search>
        @if (gamesStore.loading()) {
            <app-skeleton width="5.5rem" height="2.5rem" radius="0.25rem" />
        } @else {
            <button
                [nbPopover]="gamesMenuTemplate"
                nbPopoverTrigger="hover"
                nbPopoverPlacement="bottom"
                i18n="@@core.header.games"
                nbButton
            >
                Games
            </button>
        }
    </div>

    <div class="right">
        @if (usersStore.isLoggedIn()) {
            <div
                [nbTooltip]="copied() ? 'Copied' : 'Copy'"
                [nbTooltipStatus]="copied() ? 'success' : 'control'"
                (click)="copyToClipboard()"
                (mouseleave)="copied.set(false)"
                i18n-nbTooltip="{{copied() ? '@@core.header.copied' : '@@core.header.copy'}}"
                nbTooltipPlacement="bottom"
                class="nickname-container"
            >
                <span class="nickname">{{ usersStore.user()?.nickname! }}</span>
                <span class="discriminator">{{ usersStore.discriminator() }}</span>
            </div>
            <app-avatar
                [src]="usersStore.user()?.avatarUrl"
                [nbContextMenu]="usersStore.menuItems()!"
                nbContextMenuTag="header-user"
                nbContextMenuTrigger="hover"
            ></app-avatar>
        } @else {
            <button
                [nbSpinner]="usersStore.redirectLoading() || usersStore.loading()"
                (click)="redirect('users/login')"
                nbButton
                ghost
            >
                <nb-icon
                    icon="power-outline"
                    pack="eva"
                    i18n-aria-label="@@core.header.login"
                    aria-label="Login"
                ></nb-icon>
            </button>
        }
    </div>
</div>

<ng-template #gamesMenuTemplate>
    <div class="custom-menu">
        @for (group of gamesStore.gameMenu(); track group.title) {
            <div class="menu-group">
                <div class="menu-group-title">{{ group.title }}</div>

                @for (item of group.children; track item.title) {
                    <div (click)="redirect(item.url!)" class="menu-item" nbButton ghost>
                        @if (item.icon) {
                            <img [src]="item.icon" width="20" height="20" class="menu-icon" />
                        }
                        <span>{{ item.title }}</span>
                    </div>
                }
            </div>
        }
    </div>
</ng-template>
